@charset "UTF-8";
.color-scheme-a {
	background:#D3C518;
}
.color-scheme-b {
	background:#17A7CE;
}
.color-scheme-c {
	background:#A850D1;
}
.color-scheme-d {
	background:#EA8521;
}
.color-scheme-e {
	background:#E21389;
}
.color-scheme-f {
	background:#E8132D;
}
.color-scheme-a:after {
	position:absolute;
	margin-left:50%;
	margin-top:0px;
	content:url(../img/pointer1.png);
}
.color-scheme-b:after {
	position:absolute;
	margin-top:0px;
	margin-left:50%;
	content:url(../img/pointer2.png);
}
.color-scheme-c:after {
	position:absolute;
	margin-top:0px;
	margin-left:50%;
	content:url(../img/pointer3.png);
}
.color-scheme-d:after {
	position:absolute;
	margin-top:0px;
	margin-left:50%;
	content:url(../img/pointer4.png);
}
.color-scheme-e:after {
	position:absolute;
	margin-top:-5px;
	margin-left:50%;
	content:url(../img/pointer5.png);
}
.color-scheme-f:after {
	position:absolute;
	margin-top:0px;
	margin-left:55%;
	content:url(../img/pointer6.png);
}