@charset "UTF-8";
@font-face
{
font-family: skinny;
src: url('../fonts/TheSkinny-bold.otf');
}

.wish-container {
	margin:auto;
	width:1024px;
	height:768px;
	position:relative;
}
blockquote {
	color:#000;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	border-left: none;
	margin:0;
	padding: 0;
}

blockquote div {
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
img {
	max-width:100%;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
p {
	margin:0;
	padding:0;
}
.oval-quotes {
	position:absolute;
}
.post {
	margin:0 auto;
	text-align:center;
}
.wish {
	font-family:Georgia, Constantia, "Lucida Bright", "DejaVu Serif", serif;
	font-style:italic;
	font-size:16.8px;
	text-align: left;
}
.post p.wish span {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}
.post div.userDetails p {
	line-height: normal;
	text-align:left;
}
.userDetails {
	text-align: left;
	padding: 0;
}
.name {
	font-family:Helvetica, Gotham, "Helvetica Neue", Arial, sans-serif;
	font-size:16.8px;
	font-style: bold;
}
.location {
	font-family:Helvetica, Gotham, "Helvetica Neue", Arial, sans-serif;
	font-size:12px;
	vertical-align:central !important;
}
#postWish {
	position: absolute;
	margin-top: 355px;
	height: 242px;
	width: 300px;
	left:50%;
	margin-left:-101px;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	z-index: 5;
}
.position1 {
	top:150px;
	left:245px;
}
.position2 {
	top: 327px;
	left: 158px;
}
.position3 {
	top:122px;
	left:562px;
}
.position4 {
	top:212px;
	left:418px;
}
.position5 {
	top:295px;
	left:627px;
}
.position6 {
	top:450px;
	left:300px;
}
.button.b-close{
	box-shadow:none;
	font:bold 131% sans-serif;
	position:absolute;
	background: transparent;
	cursor:pointer;
	left:50%;
	top:100%;
	margin-top: -40px;
	margin-left: 50px;
}
.rotate-scale-1{
-webkit-transform:rotate(10deg)scale(1.0,1.0);
   -moz-transform:rotate(10deg)scale(1.0,1.0);
    -ms-transform:rotate(10deg)scale(1.0,1.0);
     -o-transform:rotate(10deg)scale(1.0,1.0);
        transform:rotate(10deg)scale(1.0,1.0);
}
.rotate-scale-2{
-webkit-transform:rotate(-15deg)scale(1,1);
   -moz-transform:rotate(-15deg)scale(1,1);
    -ms-transform:rotate(-15deg)scale(1,1);
     -o-transform:rotate(-15deg)scale(1,1);
        transform:rotate(-15deg)scale(1,1);
}
.rotate-scale-3{
-webkit-transform:rotate(10deg)scale(0.77,0.85);
   -moz-transform:rotate(10deg)scale(0.77,0.85);
    -ms-transform:rotate(10deg)scale(0.77,0.85);
     -o-transform:rotate(10deg)scale(0.77,0.85);
        transform:rotate(10deg)scale(0.77,0.85);
}
.rotate-scale-4{
-webkit-transform:rotate(0deg)scale(0.8, 0.91);
   -moz-transform:rotate(0deg)scale(0.8, 0.91);
    -ms-transform:rotate(0deg)scale(0.8, 0.91);
     -o-transform:rotate(0deg)scale(0.8, 0.91);
        transform:rotate(0deg)scale(0.8, 0.91);
}

#radioImageDefault{
	width: 201px;
	height:242px;
}
#radioImageColoured{
	width: 201px;
	height:242px;
}
.defaultRadio {
	background-image: url("../img/radio_default.png");
	background-size: 201px 242px;
	background-repeat: no-repeat;
}
.highlightRadio {
	background-image: url("../img/radio_coloured.png");
	background-size: 201px 242px;
	background-repeat: no-repeat;
}

.overlapRadio{
	position: absolute;
	top: 170px;
	left: -130px;
	width: 450px;
}

.overlapRadio input{
	width: 300px;
	height: 25px;
	margin-left: 15px;
}
.overlapRadio a{
	position:absolute;
	margin-left: 20px;
}
.gobutton{
	height: 33px;
	bottom:0px;
}

#pop_up form{
	width:250px;
	margin-top: 40px;
	margin-left: 65px;
}

#pop_up form input{
	width: 100%;
}

#pop_up form label{
	font-family: georgia;
}

.footer {
	position:fixed;
	bottom:0px;
	height:65px;
	background-color: #5d5d5d;
	width:100%;
	text-align: center;
}

.submit-wish {
	left: 50%;
	margin-left: -40px;
	margin-top:20px;
}
.cloud{
	width: 350px; height: 120px;
	
	background: #f2f9fe;
	background: linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -webkit-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -moz-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -ms-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -o-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;

	border-right-style: solid;
	border-left-style: solid;
	border-color: #c9dbe9;
	border-width: 2px;

	position: absolute;
	cursor:pointer;
}

.popup-cloud{
	width: 400px; height: 300px;
	
	background: #029795;
	
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	
	position: absolute;
}


.cloud:after, .cloud:before {
	content: '';
	position: absolute;
	background: #f2f9fe;
	z-index: -1;
}

.cloud:after {
	width: 100px; height: 100px;
	top: -50px; left: 50px;

	border-top-style: solid;
	border-left-style: solid;
	border-color: #c9dbe9;
	border-width: 2px;
	
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
}

.cloud:before {
	width: 180px; height: 180px;
	top: -90px; right: 50px;

	border-style: solid;
	border-color: #c9dbe9;
	border-width: 2px;
	
	border-radius: 200px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
}

.shadow {
	width: 350px;
	position: absolute; bottom: -10px; 
	background: #000;
	z-index: -1;
	
	box-shadow: 0 0 25px 8px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 0 25px 8px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 0 25px 8px rgba(0, 0, 0, 0.4);
	
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

.error label {
	color: #b94a48;
}

.error input {
	border-color: #b94a48;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}

img.disabled { 
	opacity: 0.7;
}

input::-webkit-input-placeholder {
  color: #b5b5b5;
  font-family: helvetica-neue;
  font-weight: normal;
  font-size: 17px;
}

input:-moz-placeholder {
  /* Firefox 18- */
  color: #b5b5b5;
  font-family: helvetica-neue;
  font-weight: normal;
  font-size: 17px;
}

input::-moz-placeholder {
  /* Firefox 19+ */
  color: #b5b5b5;
  font-family: helvetica-neue;
  font-weight: normal;
  font-size: 17px;
}

input:-ms-input-placeholder {
  color: #b5b5b5;
  font-family: helvetica-neue;
  font-weight: normal;
  font-size: 17px;
}

.wantText{
/*	margin-left: -110px;
	position: absolute;
*/	font-family: skinny;
	font-size: 22px;
}

.whitetext{
	color: white;
}

.topInfo {
    position: absolute;
    font-family: "Helvetica Neue", Helvetica, Arial, Gotham, sans-serif;
    font-size: 21px;
    font-style: bold;
    text-align:center;
    line-height: 18px;;
    width: 150px;
    left: 431px;
    color:#5d5d5d;
}
.topInfo p:first-child {
    margin-top: 20px;
}
.topInfo p span {
    font-size:36px;
    line-height:27px;
}
p.blog {
    margin-top: 10px;
}
p.blog a{
    color: #029795;
    text-decoration:none;
}
p.blog a:visited{
    color: #029795;
    text-decoration:none;
}
.invitePost {
    margin-top: 20px;
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, Gotham, sans-serif;
    font-size: 21px;
}
.invitePost span{
    color: #F9DF1E;
}

body{
	padding:0;
}